
.ipynb_checkpoints/Introducción-checkpoint.ipynb
.ipynb_checkpoints/Aplicaciones-checkpoint.ipynb
.ipynb_checkpoints/Fundamentos-checkpoint.ipynb
.ipynb_checkpoints/Anexos-checkpoint.ipynb
.ipynb_checkpoints/Keras-checkpoint.ipynb
.ipynb_checkpoints/Migración TF1 a TF2-checkpoint.ipynb
.ipynb_checkpoints/TensorFlow1-checkpoint.ipynb
.ipynb_checkpoints/TensorFlow2-checkpoint.ipynb
.ipynb_checkpoints/Perceptrón-checkpoint.ipynb
.ipynb_checkpoints/RedesNeuronales-checkpoint.ipynb
.ipynb_checkpoints/RegresionLinealEETF2-checkpoint.ipynb
.ipynb_checkpoints/TensorFlow2Regresión-checkpoint.ipynb
.ipynb_checkpoints/GPU-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowTFX-checkpoint.ipynb
.ipynb_checkpoints/TensorFlowImages-checkpoint.ipynb
flowers.tfcache_0.data-00000-of-00001.tempstate15617540896453867601
flowers.tfcache.data-00000-of-00001
flowers.tfcache.index
.ipynb_checkpoints/DockerTensorFlowServing-checkpoint.ipynb
.vscode/settings.json
